<%- include('../../templates/header') -%>
<!-- ============CONTENT======== -->
<div class="content-wrapper mt-5">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Perbaikan</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Perbaikan</a></li>
            <li class="breadcrumb-item active">Perbaikan Selesai</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
     <div class="card">
      <div class="card-header">
        <h3 class="card-title">Perbaikan Yang Selesai</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 5%;">No</th>
              <th>Perbaikan</th>
              <th style="width: 25%;">voucher</th>
              <th style="width: 25%;">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(value, index) in perbaikan">
              <td> {{ index + 1 }}</td>
              <td>
                <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal" data-target="#detail_perbaikan" @click="modal_detail_perbaikan(value)">{{ value.merk.toUpperCase() }} - {{ value.tipe }}, {{ value.data_pelanggan[0].nama.toUpperCase() }}</button>
              </td>
              <td>
                {{ value.voucher }}
              </td>
              <td>
                <button class="btn btn-warning btn-sm" data-toggle="modal" disabled style="width: 100%;">Menunggu Penjemputan</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </section>
</div>
<!-- ============= END OF CONTENT ================= -->
<!-- =========== MODAL =============== -->
<div class="modal fade" id="detail_perbaikan">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
          <div class="card-header">
            <h3 class="card-title">  Data Perbaikan </h3>
          </div>
          <div v-if="showDetailPerbaikan !== null" class="card-body">
           <!-- modal content -->
           <div class="container-fluid">
            <table class="table table-condensed">
              <tr class="bg-gray-dark color-palette">
                <th colspan="2" style="text-align: center;">
                  <strong>Informasi Perbaikan</strong>
                </th>
              </tr>
              <tr>
                <td style="width: 30%;">Merk</td>
                <td> {{ showDetailPerbaikan.merk.toUpperCase() }} </td>
              </tr>
              <tr>
                <td>Tipe</td>
                <td> {{ showDetailPerbaikan.tipe }} </td>
              </tr>
              <tr>
                <td>Kerusakan</td>
                <td>  {{ showDetailPerbaikan.kerusakan }} </td>
              </tr>
              <tr>
                <td>Keterangan Lain</td>
                <td> {{ showDetailPerbaikan.keterangan_lain }} </td>
              </tr>
            </table>
            <table class="table table-condensed">
              <tr class="bg-gray-dark color-palette">
                <th colspan="2" style="text-align: center;">
                  <strong>Data Pelanggan</strong>
                </th>
              </tr>
              <tr>
                <td style="width: 30%;">Nama</td>
                <td>  {{ showDetailPerbaikan.data_pelanggan[0].nama.toUpperCase() }} </td>
              </tr>
              <tr>
                <td>Diajukan</td>
                <td> {{ tanggal(showDetailPerbaikan.tanggal) }} </td>
              </tr>
            </table>
            <table class="table table-condensed">
              <tr class="bg-gray-dark color-palette">
                <th colspan="2" style="text-align: center;">
                  <strong>Data Lain</strong>
                </th>
              </tr>
              <tr>
                <td style="width: 30%;">Harga</td>
                <td> {{ showDetailPerbaikan.harga }}</td>
              </tr>
              <tr>
                <td style="width: 30%;">Keterangan Mitra</td>
                <td> {{ showDetailPerbaikan.keterangan_mitra }} </td>
              </tr>
            </table>
          </div>
          <!-- end of modal content -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>
</div>
<%- include('../../templates/footer') -%>
  <script>
    var vm = new Vue({

      el: "#app",
      data: {
        sidebar_menu:{
          selesai: 'active'
        },
        perbaikan: null,
        notifikasi: null,
        showDetailPerbaikan: null,
        mitra: null,
      },
      mounted(){
        axios({
          method: 'get',
          url: '/api/mitra/' + '<%= email %>'
        }).then(response => {
          this.mitra = response.data;
        })
        this.getNotifikasi()
        this.getPerbaikan()
      },
      methods: {
        getNotifikasi(){
            axios.get('/api/notifikasi/jenis/mitra/' + '<%= email %>' + '/t')
            .then(response => {
                this.notifikasi = response.data
            })
        },
        getPerbaikan(){
          axios.get('/api/perbaikan/mitra/' + '<%= email %>' + '/Siap Jemput/laptop')
          .then(response => {
            this.perbaikan = response.data
          })
        },
        modal_detail_perbaikan(value){
          this.showDetailPerbaikan = value
        },
        getNotifikasiTanggal(value){
            return moment(value, "Do MMMM YYYY, HH:mm:ss").fromNow()
        },
        tanggal(tanggal){
          return moment(tanggal, "Do MMMM YYYY, HH:mm:ss").fromNow()
        },
      }
      
    })
  </script>