<%- include('../../templates/header') -%>
<!-- ============CONTENT======== -->
<div class="content-wrapper mt-5">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Perbaikan</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Perbaikan</a></li>
            <li class="breadcrumb-item active">Pengajuan Perbaikan</li>
          </ol>
        </div>
      </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div v-if="perbaikan.menunggu !== null" class="card">
        <div class="card-header bg-dark" data-card-widget="collapse">
          <h3 class="card-title">Pengajuan Pelanggan</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th style="width: 10px">No</th>
                <th style="width: 30%;">Barang</th>
                <th style="width: 30%;">Pelanggan</th>
                <th style="width: 20%;">Tanggal Pengajuan</th>
                <th style="width: 20%;">Proses</th>
              </tr>
            </thead>
            <tbody id="tabel_pengajuan">
              <tr v-for="(value, index) in perbaikan.menunggu">
                <td>{{ index + 1 }}</td>
                <td>
                  {{ value.merk.toUpperCase() }} - {{ value.tipe }}
                  <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal" data-target="#detail_barang" style="float: right; width: 30%;" @click="modal_detail_barang(value)">Detail</button>
                </td>
                <td>
                  {{ value.data_pelanggan[0].nama.toUpperCase() }}
                  <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal" data-target="#detail_pelanggan" style="float: right; width: 30%;" @click="modal_detail_pelanggan(value.data_pelanggan[0])">Detail</button>
                </td>
                <td>
                  {{ value.tanggal.split(',')[0] }} - {{ tanggal(value.tanggal) }}
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-6">
                      <button class="btn btn-block btn-outline-success btn-sm" data-toggle="modal" data-target="#terima_perbaikan" @click="modal_terima_pengajuan(value)">Terima</button>
                    </div>
                    <div class="col-sm-6">
                      <button @click="modal_tolak_pengajuan(value)" class="btn btn-block btn-outline-danger btn-sm" data-toggle="modal" data-target="#tolak_perbaikan">Tolak</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card collapsed-card">
        <div class="card-header bg-dark" data-card-widget="collapse">
          <h3 class="card-title">Perbaikan diterima</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th style="width: 10px">No</th>
                <th style="width: 30%;">Barang</th>
                <th style="width: 30%;">Pelanggan</th>
                <th style="width: 20%;">Tanggal Diterima</th>
                <th style="width: 20%;">Voucher</th>
              </tr>
            </thead>
            <tbody id="tabel_perbaikan_diterima">
              <tr v-for="(value, index) in perbaikan.diterima">
                <td>{{ index + 1 }}</td>
                <td>
                  {{ value.merk.toUpperCase() }} - {{ value.tipe }}
                  <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal" data-target="#detail_barang" style="float: right; width: 30%;" @click="modal_detail_barang(value)">Detail</button>
                </td>
                <td>
                  {{ value.data_pelanggan[0].nama.toUpperCase() }}
                  <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal" data-target="#detail_pelanggan" style="float: right; width: 30%;" @click="modal_detail_pelanggan(value.data_pelanggan[0])">Detail</button>
                </td>
                <td>
                  {{ value.tanggal.split(',')[0] }} - {{ tanggal(value.tanggal) }}
                </td>
                <td>
                  {{ value.voucher }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card collapsed-card">
        <div class="card-header bg-dark" data-card-widget="collapse">
          <h3 class="card-title">Perbaikan Ditolak</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th style="width: 10px">No</th>
                <th style="width: 30%;">Barang</th>
                <th style="width: 30%;">Pelanggan</th>
                <th style="width: 20%;">Tanggal Ditolak</th>
                <th style="width: 20%;">Proses</th>
              </tr>
            </thead>
            <tbody id="tabel_perbaikan_ditolak">
              <tr v-for="(value, index) in perbaikan.ditolak">
                <td>{{ index + 1 }}</td>
                <td>
                  {{ value.merk.toUpperCase() }} - {{ value.tipe }}
                  <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal" data-target="#detail_barang" style="float: right; width: 30%;" @click="modal_detail_barang(value)">Detail</button>
                </td>
                <td>
                  {{ value.data_pelanggan[0].nama.toUpperCase() }}
                  <button class="btn btn-block btn-outline-secondary btn-sm" data-toggle="modal" data-target="#detail_pelanggan" style="float: right; width: 30%;" @click="modal_detail_pelanggan(value.data_pelanggan[0])">Detail</button>
                </td>
                <td>
                  {{ value.tanggal.split(',')[0] }} - {{ tanggal(value.tanggal) }}
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-6">
                      <button class="btn btn-block btn-outline-danger btn-sm">Hapus</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
 <!-- ==========  BAGIAN MODAL ============= -->
<div class="modal fade" id="detail_barang">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
          <div class="card-header">
            <h3 class="card-title">  Data Barang </h3>
          </div>
          <div class="card-body">
           <!-- modal content -->
           <div class="container-fluid">
            <table class="table table-bordered">
              <tr>
                <th><b>Judul</b></th>
                <th><b>Data</b></th>
              </tr>
              <tr>
                <td>Jenis</td>
                <td ref="jenis"></td>
              </tr>
              <tr>
                <td>Merk</td>
                <td ref="merk"></td>
              </tr>
              <tr>
                <td>Tipe</td>
                <td ref="tipe"></td>
              </tr>
              <tr>
                <td>Kerusakan</td>
                <td ref="kerusakan"></td>
              </tr>
              <tr>
                <td>Keterangan Lain</td>
                <td ref="keterangan_lain"></td>
              </tr>
            </table>
          </div>
          <!-- end of modal content -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>
</div>
<!-- !modal -->
<div class="modal fade" id="detail_pelanggan">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
          <div class="card-header">
            <h3 class="card-title">  Data Pelanggan </h3>
          </div>
          <div class="card-body">
           <!-- modal content -->
           <div class="container-fluid">
            <table class="table table-bordered">
              <tr>
                <th><b>Judul</b></th>
                <th><b>Data</b></th>
              </tr>
              <tr>
                <td>Nama</td>
                <td ref="nama_pelanggan"></td>
              </tr>
              <tr>
                <td>Email</td>
                <td ref="email__pelanggan"></td>
              </tr>
              <tr>
                <td>No Telpon</td>
                <td ref="no_tlp_pelanggan"></td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td ref="alamat_pelanggan"></td>
              </tr>
            </table>
          </div>
          <!-- end of modal content -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>
</div>
<!-- !modal -->
<div class="modal fade" id="terima_perbaikan">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
          <div class="card-header">
            <h3 class="card-title">  Terima Perbaikan </h3>
          </div>
          <div class="card-body">
           <!-- modal content -->
           <div class="container-fluid">
             <table class="table table-bordered">
              <tr>
                <td style="text-align: center;"><b>Barang</b></td>
                <td><b>Handphone</b></td>
              </tr>
              <tr>
                <td style="text-align: center;"><b>Merk & Tipe</b></td>
                <td style="font-weight: bold;" ref="modal_terima_barang"></td>
              </tr>
              <tr>
                <td style="text-align: center;"><b>Kerusakan</b></td>
                <td style="font-weight: bold;" ref="modal_terima_kerusakan"></td>
              </tr>
              <tr>
                <td style="text-align: center;"><b>Voucher</b></td>
                <td ref="modal_terima_kode_voucher" style="font-size: 16px; font-weight: bold;"></td>
              </tr>
            </table>
            <div class="form-group mt-20">
              <input class="form-control" id="hargahandphone" ref="hargahandphone" name="hargahandphone" type="text" data-a-sign="Rp. " data-a-dec="," data-a-sep="." placeholder="Harga Rupiah" @keyup="hargaChange()">
            </div>
            <p class="hargahandphone" v-if="post_data.harga !== null && post_data.harga !== 'Rp.'" style="color: red;">Harga yang ada masukkan : {{ post_data.harga }}</p>
            <div class="form-group mt-20">
              <input class="form-control" id="kethandphonelain" name="kethandphonelain" type="text" placeholder="Keterangan Lain" v-model="post_data.keterangan_lain">
            </div>
          </div>
          <div v-if="post_data.keterangan_lain !== null && post_data.keterangan_lain !== '' && post_data.harga !== null && post_data.harga !== 'Rp.'" class="modal-footer">
            <button type="submit" @click="terima_perbaikan()" class="btn btn-block btn-outline-success btn-sm">Terima Permintaan</button>
          </div>
          <!-- end of modal content -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>
</div>
<!-- !modal -->
<div class="modal fade" id="tolak_perbaikan">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card  card-dark" style="position: absolute; right: 0; left: 0; top: 0;">
          <div class="card-header">
            <h3 class="card-title">  Data Pelanggan </h3>
          </div>
          <div class="card-body">
           <!-- modal content -->
           <div class="container-fluid">
             <div class="form-group">
              <select @change="selectPenolakan()" ref="selectPenolakan" class="form-control">
                <option selected="true" disabled="">Alasan Penolakan</option>
                <option>Teknisi Belum Ready</option>
                <option>Permintaan Masih Penuh</option>
                <option>Permintaan Tidak Benar</option>
                <option style="color: red;" value="false">Alasan Lain</option>
              </select>
            </div>
            <div class="form-group mt-20">
              <input v-if="perbaikan.Keterangan === true" v-model="post_data.keterangan_lain" class="form-control" id="alasan_penolakan" name="alasan_penolakan" type="text" placeholder="Alasan Anda">
            </div>
          </div>
          <div class="modal-footer">
            <button @click="post_data_penolakan()" type="submit" class="btn btn-danger">Tolak Permintaan</button>
          </div>
        </div>
        <!-- end of modal content -->
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
</div>
<%- include('../../templates/footer') -%>

<script>
  var vm = new Vue({
    el: "#app",
    data: {
      sidebar_menu:{
        perbaikan: 'menu-open',
        permintaan_perbaikan: 'active'
      },
      mitra: null,
      myfile: null,
      perbaikan: {
        menunggu: null,
        diterima: null,
        ditolak: null,
        Keterangan: false
      },
      post_data:{
        status: null,
        harga: null,
        keterangan_lain: null,
        id: null,
        voucher: null
      }
    },
    mounted(){
      this.getData()
      this.getPerbaikan()
    },
    methods: {
      getData(){
        axios({
          method: 'get',
          url: '/api/mitra/' + '<%= email %>'
        }).then(response => {
          this.mitra = response.data;
        })
      },
      warning: function (message) {
        setTimeout(function () {
          toastr.warning(
            message
            );
        }, 10);
      },
      success: function (success) {
        setTimeout(function () {
          toastr.success(
            success
            );
        }, 10);
      },
      error: function (error) {
        setTimeout(function () {
          toastr.error(
            error
            );
        }, 10);
      },
      getPerbaikan(){
        axios.get('/api/perbaikan/mitra/' + '<%= email %>' + '/Menunggu Persetujuan/handphone')
        .then(response => {
          this.perbaikan.menunggu = response.data
        })
        axios.get('/api/perbaikan/mitra/' + '<%= email %>' + '/Mitra Siap Memperbaiki/handphone')
        .then(response => {
          this.perbaikan.diterima = response.data
        })
        axios.get('/api/perbaikan/mitra/' + '<%= email %>' + '/Mitra Menolak Perbaikan/handphone')
        .then(response => {
          this.perbaikan.ditolak = response.data
        })
      },
      tanggal(tanggal){
        return moment(tanggal, "Do MMMM YYYY, HH:mm:ss").fromNow()
      },
      modal_detail_barang(value){
        this.$refs.jenis.textContent = value.jenis_barang.toUpperCase()
        this.$refs.merk.textContent = value.merk.toUpperCase()
        this.$refs.tipe.textContent = value.tipe
        this.$refs.kerusakan.textContent = value.kerusakan
        if (value.keterangan_lain) {
          this.$refs.keterangan_lain.textContent = value.keterangan_lain
        }else {
          this.$refs.keterangan_lain.textContent = '-Tidak Ada-'
        }
      },
      modal_detail_pelanggan(value){
        this.$refs.nama_pelanggan.textContent = value.nama.toUpperCase()
        this.$refs.email__pelanggan.textContent = value._id
        this.$refs.no_tlp_pelanggan.textContent = value.no_tlp
        this.$refs.alamat_pelanggan.textContent = value.alamat
      },
      modal_terima_pengajuan(value){
        this.$refs.modal_terima_barang.textContent =  value.merk.toUpperCase() + ' - ' + value.tipe
        if (value.keterangan_lain) {
          this.$refs.modal_terima_kerusakan.textContent = value.kerusakan + ' - ' + value.keterangan_lain
        }else{
          this.$refs.modal_terima_kerusakan.textContent = value.kerusakan
        }
        this.$refs.modal_terima_kode_voucher.textContent = ''
        const character = 'abcdefghijklmnopqrstuvwxyz0123456789';
        const characterLength = character.length;
        for (var i = 0; i < 7; i++) {
          this.$refs.modal_terima_kode_voucher.textContent += character.charAt(Math.floor(Math.random() * characterLength));
        }
        this.post_data.status = "Mitra Siap Memperbaiki"
        this.post_data.id = value._id
        this.post_data.voucher = this.$refs.modal_terima_kode_voucher.textContent
        $('#hargahandphone').autoNumeric('destroy');
        $('#hargahandphone').val('');
        $('#hargahandphone').autoNumeric('init');
      },
      hargaChange(){
        return this.post_data.harga = this.$refs.hargahandphone.value
      },
      terima_perbaikan(){
        axios.post('/api/perbaikan/mitra/' + this.post_data.id + '/update_status', vm.post_data, {
          header: {
            'Content-Type':'application/json'
          }
        })
        .then(response => {
          this.getPerbaikan();
          $('#terima_perbaikan').modal('toggle');
          if (response.data.status == "success") {
            this.success(response.data.message);
          } else if (response.data.status == "error") {
            this.error(response.data.message);
          }
        })
      },
      modal_tolak_pengajuan(value){
        this.post_data.status = null
        this.post_data.harga = null
        this.post_data.voucher = null
        this.post_data.keterangan_lain = null
        this.post_data.status = 'Mitra Menolak Perbaikan'
        this.post_data.id = value._id
      },
      selectPenolakan(){
        if (this.$refs.selectPenolakan.value === 'false') {
          this.perbaikan.Keterangan = true
        }else{
          this.perbaikan.Keterangan = false
          this.post_data.keterangan_lain = this.$refs.selectPenolakan.value
        }
      },
      post_data_penolakan(){
        axios.post('/api/perbaikan/mitra/' + this.post_data.id  + '/update_status', vm.post_data, {
          header: {
            'Content-Type':'application/json'
          }
        })
        .then(response => {
          this.getPerbaikan();
          $('#tolak_perbaikan').modal('toggle');
          if (response.data.status == "success") {
            this.success(response.data.message);
          } else if (response.data.status == "error") {
            this.error(response.data.message);
          }
        })
      }
    }
  })
</script>